:root.theme-dark {
  --cover-image: url("../images/cover-image-dark.png");
  --header-text: #db00ff;
  --back-of-text: #ff0070;
  --text-upper: #000028;
  --textH: #ff0070;
  --textP: #f1b2ce;
  --button-border: #ff007066;
}
