:root.theme-light {
  --cover-image: url("../images/cover-image-light.png");
  --header-text: #ffc2e6;
  --back-of-text: #ff8dcb;
  --text-upper: #353430;
  --textH: #353430;
  --textP: #353430;
  --button-border: #32312d66;
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url("../images/cover-image-light.png");
    --header-text: #ffc2e6;
    --back-of-text: #ff8dcb;
    --text-upper: #353430;
    --textH: #353430;
    --textP: #353430;
    --button-border: #32312d66;
  }

  .theme-light .rec {
    display: none;
  }
  .theme-auto .rec {
    display: none;
  }
}
